<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fashion Suite</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="mid">
        <ul class="navbar">
            <li><%- include('header') %></li>
        </ul>
        <p><h1 class="about">Our Story</h1></p>
        <p>Fashion Suite started in the spring of 2008. Two friends had a vision: to spread happiness by turning an everyday essential into a colorful design piece with a rigid standard of ultimate quality, craftsmanship and creativity. A concept now brought to perfection by the Fashion Suite collective of creators.</p>
        <p>Today Fashion Suite are sold in more than 90 countries and on every continent.</p>
        <p>Fashion Suite features an almost endless variety of models and designs, using a broad spectrum of color combinations and original patterns.</p>
        <p><h1 class="about">Our Quality</h1></p>
        <p><i>"OUR GOAL IS TO PROVIDE YOU WITH THE BEST AND HAPPIEST PRODUCTS AROUND"</i></p>
        <p>Fashion Suite ensures that its suppliers have high standards by keeping close contact with all of them through regular visits and controls at all their factories. A meticulous care for detail allows Fashion Suite to maintain and constantly develop its production processes and the product quality.</p>
        <p>Fashion Suite pays close attention to the production of its collections and only uses the best materials and the sharpest designs for all the products. All products are durable but they last longer if they are washed inside out and kept out of the tumble dryer.</p> 
    </div>
</body>