<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fashion Suite</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="right">
        <form class="example" action="/products" method="get">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <form class="btn" action="/process" method="post">
            <button style="font-size:15px"><i class="fa fa-phone"></i>&nbsp;Contact Us for Home Deliveries</button>
        </form>
    </div>
    <div class="left">
        <a href="/home"><img src="/images/img_logo.png"></a>
    </div>
    <div class="left1">
        <img src="/images/t-shirtk.jpg" style="height: 190px"><h2>T-shirts</h2>
        <img src="/images/shirtsk.jpg"  style="height: 210px"><h2>Shirts</h2>
        <img src="/images/pantsk.jpg" style="height: 190px"><h2>Pants</h2>
    </div>
    <div class="left2">
        <img src="/images/jacketsk.jpg"  style="height: 190px"><h2>Jackets</h2>
        <img src="/images/hoodies1k.jpg"  style="height: 210px"><h2>Hoodies</h2>
        <img src="/images/trousersk.png"  style="height: 190px"><h2>Trousers</h2>
    </div>
    <div class="left3">
        <img src="/images/tracksuitk.jpg" style="height: 190px"><h2>Tracksuits</h2>
        <img src="/images/trackpantsk.jpg"  style="height: 210px"><h2>Trackpants</h2>
        <img src="/images/shortsk.avif" style="height: 190px"><h2>Shorts</h2>
    </div>
    <div class="left4">
        <img src="/images/bags.jpg" style="height: 190px"><h2>Wallets</h2>
        <img src="/images/shoes.webp"  style="height: 210px"><h2>Belts</h2>
        <img src="/images/watchesk.jpg" style="height: 190px"><h2>Watches</h2>
    </div>
</body>
